.bottom-bar {
  position: fixed;
  bottom: calc(10px + env(safe-area-inset-bottom));
  left: 10px;
  right: 10px;
  height: 56px;

  background: var(--tg-theme-secondary-bg-color, #fff);
  border-radius: 10px; /* округление по всему периметру */

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* лёгкая тень */
  padding-bottom: env(safe-area-inset-bottom);
  z-index: 100;
}

.tab {
  flex: 1;
  background: none;
  border: none;
  color: var(--tg-theme-text-color, #333);
  font-size: 14px;
  padding: 8px 0;
  cursor: pointer;
  border-radius: 8px;
  transition:
    background 0.2s,
    color 0.2s;
}

.tab.active {
  color: var(--tg-theme-button-color, #0088cc);
  font-weight: 600;
}

@media (hover: hover) {
  .tab:hover {
    background: rgba(0, 0, 0, 0.05);
    transform: scale(0.9);
  }
}
